@model ISIS.PageOf<ISIS.CourseList>
@using ISIS.Web.Areas.Schedule.Controllers
@using Microsoft.Web.Mvc
@{
    ViewBag.Title = "Courses";
}

<h2>Courses</h2>

<ul>
@foreach (var course in Model.Results)
{
    <li>@course.Rubric @course.Number : @course.Title</li>
}
</ul>

@(Html.ActionLink<CourseController>(c => c.Add(), "Create A New Course"))