@model ISIS.PageOf<ISIS.CourseList>
@using ISIS.Web.Areas.Schedule.Controllers
@using Microsoft.Web.Mvc
@{
    ViewBag.Title = "Courses";
}
<div id="commandBar">
    @(Html.ActionLink<CourseController>(c => c.Add(), "Create A New Course"))
</div>

<h2>@ViewBag.Title</h2>
<ul>
    @foreach (var course in Model.Results)
    {
        <li>@(Html.ActionLink<CourseController>(c => c.Details(course.CourseId), course.ToString()))</li>
    }
</ul>
